html,
body,
#root {

    position: relative;
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar { display: none }

.qikLogoFrame {

    position: absolute;

    z-index: 1;

    height: 100%;
    width: 100%;

    display: flex;

    justify-content: center;

    align-items: center;

    background-color: white;
}

.qik-logo {

    position: relative;

    font-family: 'Faster One', cursive;
    font-size: 10vw;
    color: blue;
}

.sigthResults {

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    z-index: 20;
    color: white;
}

.sightFade {

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 10;
    opacity: .5;
}

.sight-resutls-show {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 20;
    color: white;
    display: flex;
}

.sight-resutls-options {
    position: relative;
    flex-direction: column;
    align-items: center;
}

.sight-resutls-scroll {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    overflow: scroll;
}


a {

    color: white;
}

a:hover {

    color: white;
    text-decoration: none
}

.App {
    text-align: center;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.wholeView {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.action-time {

    position: relative;
    z-index: 15;
    margin: 1%;
}

.sight-frame {


    position: absolute;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}


.sight-options-source {

    position: relative;
    display: flex;
    align-items: center;
    margin: 1%;
}

.sight-frame-options {
    position: absolute;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sight-options-button {

    position: relative;
}

.sight-frame-video {
    position: absolute;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    object-fit: cover;
}

.showView {
    position: relative;
    flex: 1;
    height: 100%;
    overflow: hidden;
}



.resize-drag {
    position: absolute;
    border: 6px solid #29e;

    border-radius: 8px;

    width: 100px;
    height: 100px;
    left: 50%;
    flex: none;
    /* This makes things *much* easier */
    box-sizing: border-box;
}

.flex-row-center-vert {
    display: flex;
    flex-direction: row;
    align-items: center !important;
}

.flex-row-center-hori {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col-center-hori {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-col-center-vert {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-col-center-both {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-border {
    border: 0 !important;
}