.sight-result-form {

    position: relative;
    border: 3px solid white;
    flex: 1;
    border-radius: 10px;
    margin: 1%;
    z-index: 10;

    display: flex;
    flex-direction: column;
}

.sight-result-form-feild {
    position: relative;
    flex: 1;
    margin: 1%;
    background-color: white;
    display: flex;
}

.TextField {
    position: relative;
    flex: 1;
    margin: 1%;
    color:rgb(0, 188, 212);
}

.TextField input{

    color:rgb(0, 188, 212)!important;
    font-size: 4vw !important;

}