.big-chips {

    background-color: lightgrey;
    border-radius: 50px;
    margin: 1%;
    padding: 10%;
    background-color: rgb(0, 188, 212);
}


.big-chips-alt {

    background-color: lightgrey;
    border-radius: 50px;
    margin: 1%;

    visibility: hidden;
}


.sight-resutls-chips {

    position: relative;
    flex: 1;

    overflow: visible;
    z-index: 20;


    display: flex;
}


.sight-resutls-chips-scroll {
    position: relative;
    flex: 1;

    overflow: scroll;
    z-index: 10;


    display: flex;
    flex-direction: column;
    align-items: center;
}

.sight-resutls-chips-stand {
    position: absolute;
    z-index: 5;
    height: 40px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: visible;
}

.tag-slider-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.sight-resutls-image-grid {

    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    flex: 1;
    z-index: 10;
}